@import "tailwindcss";

html {
	height: 100%;
	max-height: 100vh;
	max-height: 100dvh;
}

body {
	margin: 0;
	font-family: "Outfit", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif;
	background-color: hsl(212, 45%, 89%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	max-height: 100vh;
	max-height: 100dvh;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* helper class for explicit font use */
.font-outfit {
	font-family: "Outfit", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif;
}

.debug {
	border: 1px solid red;
}
